# .env.example

# Email для Let's Encrypt
LETSENCRYPT_EMAIL=stanislav2240@gmail.com

# Домены для каждого сайта
PORTFOLIO_DOMAIN=troshin.by
ONLINE_USERS_DOMAIN=online-users.troshin.by
EDUCATION_DOMAIN=education.troshin.by
